html
    head
        title Blog
        link(rel="stylesheet" type="text/css" href="/css/mycss.css")

    body
    if user
        form(method="POST")
            div(class="log")
                strong Create a new Post
                br
                label(for="title") Title
                    textarea(id="desc", name="desc", placeholder="Some great article content...")
                    br
                    button(type="submit") post


        div(class="listGame")
            for post in posts
                    article
                            h1 #{user.email}

                            a(href="/post/" + post.id)
                                h1 #{post.desc}

                            p #{post.nblike} like, #{post.Nbcomment} comment(s), #{post.share} share
                            form(method="POST" action="/likePost/" + post.id )
                                <input class="btn btn-info btn-lg" type="submit" value="like">





    else
        p Please log in.
        a(href="/login") login





